/* font-face */
@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: Splatted-Personal;
    src: url(../assets/fonts/Splatted-Personal.ttf)
}

@font-face {
    font-family: Dreams-Liem;
    src: url(../assets/fonts/Dreams-Liem.ttf)
}





// // Common
body {
    color: #fff;
    font: {
        size: 22px;;
        family: Roboto-Regular;
    }
    letter-spacing: 1px;
}


// // Header

.header {
    box-sizing: border-box;
    width: 100%;
    background: {
        image: url(../assets/img/bg.jpg);
        repeat: no-repeat;
        size: cover;
        position: center;
    };
    padding: 3%;
    
    .header-inner {
        background: {
            color: rgba(0, 0, 0, 0.75);
        };
        width: 100%;
    }

    .container {
        .header-top {
            height: 220px;
            display: flex;
            justify-content: center;
            align-items: center;

            
            &__logo {
                flex-basis: 98px*1.8;
                height: 88px*1.8;
                background: {
                    image: url(../assets/img/logo.png);
                    size: contain;
                    repeat: no-repeat;
                }
                flex-shrink: 0;
            }

            &__decor-line {
                flex-basis: 400px;
                height: 1px;
                background: {
                    color: #fff;
                };
                margin: {
                    left: 5%;
                    right: 5%;
                }
            }
        }

        .menu {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .items {
                box-sizing: border-box;
                padding: 40px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                flex-basis: 900px;
                margin: 20px;

                    .item {
                        flex-basis: 250px;
                        padding: 20px;
                        text-align: center;
                        margin: {
                            bottom: 35px;
                            // right: 30px;
                        };
                        box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.78);
                        &__text {
                            margin: {
                                bottom: 30px;
                            };

                            span {
                                font-family: Roboto-Bold;
                            }
                        }

                        &__count {
                            margin: {
                                bottom: 30px;
                            };
                        } 


                        &__buttons {
                            
                            .plus-button,
                            .minus-button {
                                cursor: pointer;
                                width: 45px;
                                height: 30px;
                                font-size: 22px;
                                border-radius: 3px;
                        }
                        }
                        
                    }

                    .stuffing {
                        box-shadow: none;
                        background: {
                            color: #fff
                        };
                        color: rgba(0, 0, 0, 0.74);
                        border-radius: 50px;
                        .item__text {
                            margin: {
                                bottom: 15px;
                            };
                        }

                        .stuffings {
                            display: flex;
                            flex-wrap: wrap;
                            font: {
                                size: 18px;
                            };

                            input {
                                margin: {
                                    bottom: 5px;
                                };
                                cursor: pointer;
                                flex-basis: 40%;
                            }

                        }
                    }
            }

            .results {
                font: {
                    family: Dreams-Liem;
                    size: 40px;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background: {
                    // color: rgb(207, 204, 26);
                };
                height: 700px;
                flex-basis: 700px;
                margin: 20px;
                
                .result-button {
                    $result-button-Height: 480px*0.3;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.747);
                    line-height: $result-button-Height - 20px;
                    cursor: pointer;
                    flex-basis: 1200px*0.4;
                    height: $result-button-Height;
                    background: {
                        image: url(../assets/img/s1200.png);;
                        position: center;
                        size: 100% 100%;
                        repeat: no-repeat;
                    };

                    &:hover {
                        color: rgba(47, 66, 175, 0.747);
                        font-size: 42px;
                    }
                }
            }
        }


    }
}
